//====================================================================================================
//main block
.main {
   background: url("@img/bg/mainBG.jpg") center / cover no-repeat;

   &__container {
      display: flex;
      justify-content: space-between;

      @media (max-width: $mobile) {
         display: grid;
      }
   }

   // .main__content
   &__content {
      @include adaptiveValue("padding-top", 155, 172);
      @include adaptiveValue("padding-bottom", 70, 40);
      color: $mainBlueColor;
      max-width: rem(568);

      @media (max-width: $mobileSmall) {
         max-width: rem(333);
      }
   }

   // .main__title
   &__title {
      font-weight: 900;
      @include adaptiveValue(" font-size", 50, 35);
      // line-height: math.div(20, 18);
      @include adaptiveValue("padding-bottom", 57, 46);
   }

   // .main__subtitle
   &__subtitle {
      font-weight: 900;
      @include adaptiveValue("font-size", 18, 16);
      line-height: math.div(19, 14);

      @media (max-width: $mobileSmall) {
         max-width: rem(222);
      }
   }

   // .main__price
   &__price {
      @include adaptiveValue("font-size", 24, 16);
      color: #ffffff;

      span {
         font-weight: 700;
         font-size: rem(36);
         @include adaptiveValue("font-size", 36, 24);
         line-height: math.div(50, 34);
      }
   }

   // .main__text
   &__text {
      @include adaptiveValue("font-size", 24, 16);
      color: #ffffff;
   }

   // .main__button
   &__button {
      margin-top: rem(28);
   }

   // .main__desc
   &__desc {
      align-self: flex-end;
      max-width: rem(460);
      font-weight: 400;
      font-size: rem(14);
      line-height: math.div(20, 14);
      font-size: 14px;
      line-height: 140%;
      color: #ffffff;
      text-align: right;
      @include adaptiveValue("padding-bottom", 70, 40);

      @media (max-width: $mobile) {
         text-align: start;
      }
   }
}

//====================================================================================================
//block about
.about-block {
   @include adaptiveValue("padding-top", 97, 45);
   @include adaptiveValue("padding-bottom", 23, 15);

   // .about-block__content
   &__content {
      display: flex;
      justify-content: space-between;

      @media (max-width: $tablet) {
         display: block;
      }
   }

   // .about-block__title

   &__title {
      justify-content: flex-start;
   }

   // .about-block__text

   &__text {
      max-width: rem(810);
      padding-left: rem(70);
      @include adaptiveValue("font-size", 18, 14);
      line-height: math.div(25, 14);
      color: #252d37;

      @media (max-width: $tablet) {
         padding: rem(20) 0 0 0;
      }
   }
}

//====================================================================================================
//block services

.services-block {
   @include adaptiveValue("padding-top", 38, 20);
   @include adaptiveValue("padding-bottom", 22, 10);

   // .services-block__content
   &__content {
   }

   // .services-block__title
   &__title {
      @include adaptiveValue("padding-bottom", 52, 30);
   }

   // .services-block__body-items
   &__body-items {
   }
}

.items-body {
   display: grid;
   grid-template-columns: repeat(3, auto);
   // gap: rem(102);
   @include adaptiveValue("row-gap", 102, 38);
   justify-content: space-between;
   align-items: flex-start;

   @media (max-width: $tablet) {
      // row-gap: rem(30);
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
   }

   @media (max-width: $mobile) {
      grid-template-columns: repeat(1, 1fr);
      justify-items: start;
   }

   // .items-body__item
   &__item {
      display: flex;
      max-width: rem(290);
      align-items: flex-start;

      @media (max-width: $mobile) {
         max-width: 100%;
      }
   }

   // .items-body__icon
   &__icon {
      position: relative;
      z-index: 9;

      &::after {
         content: "";
         position: absolute;
         width: rem(63);
         height: rem(53);
         left: rem(14);
         top: rem(14);
         background: $mainBlueColor;
         z-index: -1;
         overflow: hidden;
      }
   }

   // .items-body__text
   &__text {
      @include adaptiveValue("padding-left", 35, 20);
      font-weight: 700;
      @include adaptiveValue("padding-top", 14, 20);
      @include adaptiveValue("font-size", 18, 14);
      line-height: math.div(23, 20);
      color: #001e42;

      // @media (max-width: $mobile) {
      //    width: 100%;
      // }
   }
}

//========================================================================================================================================================
//order block
.order-block {
   // .order-block__content
   &__content {
      @include adaptiveValue("padding-top", 48, 33);
      @include adaptiveValue("padding-bottom", 65, 15);
   }
}

.content-block {
   // .content-block__text
   &__text {
      @include adaptiveValue("font-size", 24, 18);
      line-height: math.div(29, 27);
      font-weight: 700;
      @include adaptiveValue("padding-bottom", 69, 50);
   }

   // .content-block__images
   &__images {
      @include adaptiveValue("padding-bottom", 111, 38);
   }

   // .content-block__items
   &__items {
      @include adaptiveValue("padding-bottom", 67, 20);
   }
}

.text-block {
   // .text-block__title
   &__title {
      font-weight: 700;
      @include adaptiveValue("font-size", 24, 18);
      line-height: math.div(29, 27);
      color: #001e42;
      padding-bottom: rem(31);
   }

   // .text-block__text
   &__text {
      display: grid;
      grid-template-columns: repeat(2, auto);
      @include adaptiveValue("padding-bottom", 42, 34);

      @media (max-width: $mobile) {
         grid-template-columns: repeat(1, auto);
      }

      p {
         font-weight: 400;
         @include adaptiveValue("font-size", 18, 14);
         line-height: math.div(25, 20);
         color: #252d37;

         &:not(:last-child) {
            padding-right: rem(30);
         }

         @media (max-width: $tablet) {
            &:not(:last-child) {
               padding-bottom: rem(20);
            }
         }
      }
   }
}

.images-block {
   display: grid;
   grid-template-columns: repeat(2, auto);
   @include adaptiveValue("gap", 80, 20);
   font-weight: 700;
   color: #001e42;

   @media (max-width: $mobile) {
      grid-template-columns: repeat(1, auto);
      width: 100%;
   }

   // .images-block__img
   &__img {
      display: grid;
      grid-template-columns: repeat(2, auto);
      @include adaptiveValue("margin-left", 86, 10);

      @media (max-width: $tablet) {
         margin-left: 0;
      }

      @media (max-width: $mobile) {
         display: flex;
      }
   }

   // .images-block__title
   &__title {
      align-self: center;
      line-height: math.div(48, 35);
      @include adaptiveValue("font-size", 48, 30);
      max-width: rem(174);
      padding-top: rem(30);
      padding-left: rem(10);
   }

   // .images-block__text
   &__text {
      align-self: center;
      max-width: rem(521);
      @include adaptiveValue("font-size", 24, 16);
      line-height: math.div(28, 20);
      padding-top: rem(30);

      @media (max-width: $mobile) {
         width: 100%;
         padding-left: rem(0);
      }
   }
}

.items-block {
   display: grid;
   grid-template-columns: repeat(3, auto);
   @include adaptiveValue("gap", 82, 61);
   font-weight: 700;
   font-size: rem(18);
   line-height: rem(22);
   color: #001e42;
   padding-left: rem(10);

   @media (max-width: $tablet) {
      grid-template-columns: repeat(2, auto);
   }

   @media (max-width: $mobile) {
      grid-template-columns: repeat(1, auto);
   }

   &__item {
      position: relative;

      span {
         position: absolute;
         left: rem(-17);
         top: rem(-49);
         margin-bottom: 30px;
         z-index: -1;
         font-weight: 700;
         font-size: 96px;
         line-height: 117px;
         letter-spacing: 0.05em;
         text-transform: uppercase;
         color: $mainBlueColor;
         @media (max-width: 320px) {
            font-size: 70px;
         }
      }
      @media (max-width: 320px) {
         font-size: 16px;
      }
   }
}

//========================================================================================================================================================
//price block

.price {
   // .price__content
   &__content {
      @include adaptiveValue("padding-top", 50, 27);
      @include adaptiveValue("padding-bottom", 57, 44);
   }

   // .price__title
   &__title {
      @include adaptiveValue("padding-bottom", 13, 5);
   }

   .body-price {
      display: flex;
      justify-content: space-between;

      @media (max-width: $tablet) {
         flex-direction: column;
      }

      // .body-price__text
      &__text {
      }
   }

   .text-price {
      // padding-top: rem(40);
      @include adaptiveValue("padding-top", 40, 20);
      max-width: 50%;
      padding-right: rem(30);

      @media (max-width: $tablet) {
         max-width: 100%;
         padding-right: rem(0);
         padding-bottom: rem(19);
      }

      &__text {
         line-height: math.div(25, 22);
         color: #252d37;
         font-weight: 400;
         @include adaptiveValue("font-size", 18, 16);

         span {
            font-weight: 700;
         }

         &:not(:last-child) {
            @include adaptiveValue("padding-bottom", 30, 25);
         }
      }

      // .text-price__plan
      &__plan {
         display: flex;

         @media (max-width: $tablet) {
            justify-content: center;
            align-items: center;
         }

         @media (max-width: $mobileSmall) {
            justify-content: space-between;
         }
      }
   }

   .billing-plan {
      // .billing-plan__button
      &__button {
         display: flex;
         flex-direction: row-reverse;
         padding: rem(15) rem(20);
         border: 2px solid #001e42;
         font-weight: 700;
         font-size: rem(14);
         line-height: rem(17);
         letter-spacing: 0.05em;
         text-transform: uppercase;
         transition: background 0.3s ease 0s;

         @media (max-width: $mobileSmall) {
            font-size: rem(11);
            padding: rem(10) rem(10);
         }

         &:not(:last-child) {
            margin-right: em(24, 10);

            @media (max-width: $mobileSmall) {
               margin-right: 0;
            }
         }

         @media (any-hover: hover) {
            &:hover {
               background: #f2f2f2;
               cursor: pointer;
            }
         }
      }

      ._icon-arrowdown {
         &::before {
            font-size: 18px;
            color: #001e42;
            @include adaptiveValue("padding-left", 10, 5);

            @media (max-width: $mobileSmall) {
               font-size: 14px;
            }
         }
      }
   }

   .card-billing {
      display: flex;
      cursor: pointer;
      :hover {
         // box-shadow: 0 14px 40px rgba(0, 0, 0, 0.1);
      }

      @media (max-width: $tablet) {
         padding-bottom: rem(35);
      }

      @media (max-width: $mobileSmall) {
         display: block;
         margin-right: rem(0);
      }

      // .card-billing__card
      &__card {
         box-shadow: 0 14px 40px rgba(0, 0, 0, 0.1);
         animation: glowing 1300ms infinite;
         @keyframes glowing {
            0% {
               // background: $mainBlueColor;
               box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
            }
            50% {
               // background: $mainBlueColor;
               box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
            }
            100% {
               // background: $mainBlueColor;
               box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
            }
         }
      }
   }

   .card {
      flex: 1 1 rem(259);
      font-weight: 400;
      color: #001e42;
      font-size: rem(18);
      line-height: rem(25);
      border: 2px solid #001e42;
      padding: rem(38) rem(19) rem(38) rem(19);
      text-align: center;

      &:not(:last-child) {
         margin-right: rem(12);

         @media (max-width: $mobileSmall) {
            margin-right: rem(0);
            margin-bottom: rem(16);
         }
      }

      // .card__title
      &__title {
         font-size: rem(18);
         line-height: rem(20);
         @include adaptiveValue("padding-bottom", 16, 14);
      }

      // .card__subtitle
      &__subtitle {
         font-weight: 700;
         font-size: rem(26);
         line-height: rem(36);
         text-transform: uppercase;
         padding-bottom: rem(6);
      }

      // .card__price
      &__price {
         font-weight: 700;
         font-size: rem(70);
         line-height: rem(80);
      }

      // .card__per
      &__per {
         font-size: rem(20);
         line-height: rem(24);
         @include adaptiveValue("padding-bottom", 28, 22);
      }

      // .card__footer
      &__footer {
      }
   }
}

//========================================================================================================================================================
//clients block/slider

// .page__block-clients
.clients-block {
   @include adaptiveValue("padding-top", 37, 23);
   @include adaptiveValue("padding-bottom", 33, 18);

   // .clients-block__content
   &__content {
      @media (max-width: $mobileSmall) {
         padding-bottom: 55px;
      }
   }

   // .clients-block__title
   &__title {
      @include adaptiveValue("padding-bottom", 45, 20);
   }

   // .clients-block__body
   &__body {
      display: grid;
      gap: rem(80);
      height: 110px;

      align-content: space-between;
      grid-template-columns: repeat(5, auto);

      @media (max-width: $mobile) {
         grid-template-columns: repeat(5, auto);
         gap: rem(5);
         // height: 80px;
      }

      @media (max-width: $mobileSmall) {
         grid-template-columns: repeat(2, auto);
         gap: rem(10);
      }
   }

   // .clients-block__slider

   // .clients-block__wrapper
   &__wrapper {
   }

   // .clients-block__slide
   &__slide {
      align-self: center;
      cursor: pointer;

      &:not(:last-child) {
         margin-right: em(16, 20);
         margin-bottom: rem(10);

         @media (max-width: $mobileSmall) {
            margin: 0;
         }
      }
   }
}

//========================================================================================================================================================
// .page__alliance-block
.alliance-block {
   @include adaptiveValue("padding-top", 22, 37);
   @include adaptiveValue("padding-bottom", 34, 24);

   // .alliance-block__content
   &__content {
      color: #a5aaaf;
   }

   // .alliance-block__title
   &__title {
      font-weight: 700;
      @include adaptiveValue("font-size", 20, 16);
      @include adaptiveValue("line-height", 24, 20);
      @include adaptiveValue("padding-bottom", 27, 14);
   }

   // .alliance-block__main
   &__main {
   }
}

.main-block {
   display: grid;
   grid-template-columns: repeat(2, auto);
   gap: rem(30);

   @media (max-width: $mobile) {
      display: block;
   }

   // .main-block__text
   &__text {
      font-weight: 400;
      @include adaptiveValue("font-size", 13, 12);
      @include adaptiveValue("line-height", 20, 14);

      p {
         &:not(:last-child) {
            margin-bottom: em(15, 10);
         }
      }
   }

   // .main-block__menu
   &__menu {
      position: relative;
   }

   // .main-block__list
   &__list {
      &::before {
         content: "-";
         padding-right: rem(5);
      }

      &:not(:last-child) {
         margin-top: em(8, 10);
      }
   }
}

//========================================================================================================================================================
// .page__form
.form-item {
   background: url("@img/bg/footerBG.jpg") center / cover no-repeat;

   // .form-item__content-info
   &__content-info {
      display: flex;
      justify-content: space-around;
      @include adaptiveValue("padding-top", 50, 63);
      @include adaptiveValue("padding-bottom", 35, 28);

      @media (max-width: 320px) {
         display: block;
      }
   }
}

.info-content {
   // .info-content__title
   &__title {
      font-weight: 700;
      @include adaptiveValue("font-size", 36, 18);
      line-height: math.div(46, 30);
      color: #ffffff;
      max-width: rem(374);
      @include adaptiveValue("padding-top", 48, 0);
      @media (max-width: 640px) {
         // text-align: center;
         // max-width: 100%;
         // padding-bottom: 20px;
         max-width: rem(300);
      }
      @media (max-width: 320px) {
         padding-bottom: 20px;
      }
   }

   // .info-content__form
   &__form {
      @media (max-width: 640px) {
         // max-width: 100%;
         // margin: 0 auto;
      }
   }
   @media (max-width: 640px) {
      // display: flex;
      // flex-direction: column;
   }
}

.form-content {
   display: flex;
   flex-direction: column;

   // .form-content__body
   &__body {
   }
}

.form-subscribe {
   max-width: rem(343);

   // .form-subscribe__input
   &__input {
      cursor: pointer;
      font-style: normal;
      font-weight: 400;
      font-size: rem(18);
      line-height: rem(25);
      padding: rem(10) rem(20);
      background: #ececec;
      width: 100%;
      outline: none;
      resize: none;

      &:not(:last-child) {
         margin-bottom: em(17, 13);
      }
   }

   &__button {
      width: 100%;
      background-color: $mainBlueColor;
      font-weight: 700;
      font-size: rem(14);
      line-height: math.div(17, 15);
      letter-spacing: 0.05em;
      text-transform: uppercase;
      color: #002047;
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      justify-content: center;
      padding: rem(14) 0;
      transition: box-shadow 250ms ease 0s;

      @media (any-hover: hover) {
         &:hover {
            box-shadow: 0px 4px 25px rgba(0, 254, 255, 1);
         }
      }
   }

   ._icon-arrowRight {
      &::before {
         padding-left: rem(30);
      }
   }

   @media (max-width: $mobile) {
      min-width: 100%;
   }
}

//====================================================================================================
